<!--

Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="theme-color" name="theme-color" content="#4527A0">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/chrome-touch-icon-192x192.png" sizes="192x192" type="image/png">

    {{#if inlineStylesheets}}
    <style type="text/css">
    {{#each inlineStylesheets}}
      {{{inlineFile this}}}
    {{/each}}
    </style>
    {{/if}}

    {{#if remoteStylesheets}}
    <!-- In case the browser has JS disabled, this will
      ensure remote styles are still loaded -->
    <noscript>
      {{#each remoteStylesheets}}
      <link href="{{this}}" rel="stylesheet" property="stylesheet" media="all">
      {{~/each}}
    </noscript>
    {{/if}}
</head>
<body>
