{{> open-page}}

<header class="header is-from-shell">
    <button role="tab" class="header__menu js-toggle-menu">
      Toggle nav menu
    </button>

    <h1 class="header__title">App Shell</h1>
</header>

<main class="main js-global-main" aria-role="main">

</main>

<aside class="toast-view js-toast-view"></aside>

<!-- Loading Dialog For use by Activities -->
<div class="loader js-global-loader is-hidden">
  <svg viewBox="0 0 32 32" width="32" height="32">
    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
  </svg>
</div>

{{> close-page}}
