{{> open-page}}

<header class="header is-from-static">
    <button role="tab" class="header__menu js-toggle-menu">
      Toggle nav menu
    </button>

    <h1 class="header__title">App Shell</h1>
</header>

<main class="main js-global-main is-initialised" aria-role="main">
  {{{body}}}
</main>
{{> close-page}}
