{{> open-page}}
<main class="main js-main" aria-role="main">

</main>

  <!-- Loading Dialog For use by Activities -->
  <div class="loader js-global-loader is-hidden">
    <svg viewBox="0 0 32 32" width="32" height="32">
      <style>
        #spinner {
          box-sizing: border-box;
          stroke: #673AB7;
          stroke-width: 3px;
          transform-origin: 50%;

          -webkit-animation: line 1.6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite, rotate 1.6s linear infinite;
        }

        @-webkit-keyframes rotate {

          from {
            transform: rotate(0)
          }

          to {
            transform: rotate(450deg);
          }
        }

        @-webkit-keyframes line {
          0% {
            stroke-dasharray: 2, 85.964;
            transform: rotate(0);
          }

          50% {
            stroke-dasharray: 65.973, 21.9911;
            stroke-dashoffset: 0;
          }

          100% {
            stroke-dasharray: 2, 85.964;
            stroke-dashoffset: -65.973;
            transform: rotate(90deg);
          }
        }
      </style>
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

  {{> close-page}}
