<style class="js-partial-styles" type="text/css">{{{inlineStyles}}}</style>

<div class="js-partial-content">
{{{ body }}}

{{#each remoteScripts}}
<script src="{{this}}" async></script>
{{~/each}}
</div>
